* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 720px;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: lightcyan;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: red;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}